* {
  font-size: 13px;
}
.hero {
  padding: 0;
  background-color: #0077b6;
  background-image: linear-gradient(.25turn, #0077b6, 50%,#03045e );
  color:#fff;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

h1, h2 {
  line-height: 1;
  text-align: center;
}

.search-form {
  border-bottom: solid ;
  display: inline-block;
}

#container2 {
  line-height: 2em;
  position: relative;
  left: 270px;
  bottom: 20px;
}

#container2 h3 {
  position: relative;
  left: 20px;
  top: 0px;
}

#weather-container {
  position: relative;
  right: 30px;
  top: 10px;
  line-height: 2em;
  margin-bottom: 50px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.bg-dark {
  margin-left: 20px;
  padding: 5px;
  padding-right: 52px;
}

.form-input {
  border-radius: 5px;
  line-height: 2.5;
}

.btn {
  display: block;
  margin-top: 7px;
  width: 100%;
  background-color: #5390d9;
}

.historyBtn {
  margin-top: 10px;
  border-radius: 5px;
  width: 88%;
  background-color: darkgrey;
}

.form-label, .form-input, .form-textarea {
  width: 100%;
}



