
.hero {
  padding: 0;
  background-color: #0077b6;
  background-image: linear-gradient(.25turn, #0077b6, 50%,#03045e );
  color:#fff;
  text-align: center;
}


h1, h2, h3 {
  line-height: 1.25;
}

#forecast-container {
  line-height: 2em;
  position: relative;
  left: 300px;
  top: 100px;


}

#weather-container {
  position: relative;
  left: 30px;
  top: 5px;
  line-height: 2em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

/* .container-fluid {
  max-width: 95%;
} */

.bg-dark {
  margin-left: 50px;
  

}
.form-input {
  border-radius: 5px;
  line-height: 2;
}

.btn {
  display: block;
  margin-top: 7px;
  width: 100%;
  background-color: #5390d9;
}

.historyBtn {
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

.list-group {
  display: flex;
  flex-direction: row;
}

.btn-inline {
  display: inline;
}

.form-label, .form-input, .form-textarea {
  display: block;
  width: 100%;
}



